<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Gerenciar Carro</title>
    <link
      rel="stylesheet"
      href="estilo/estilo.Carro.css"
    />
  </head>
  <body>
    <h1>Gerenciar Carro - <%= carro.marca %> <%= carro.modelo %></h1>

    <form method="POST" action="/atualizar_carro/<%= carro._id %>">
      Marca:
      <input
        type="text"
        name="Marca"
        value="<%= carro.marca %>"
        required
      /><br />
      Modelo:
      <input
        type="text"
        name="Modelo"
        value="<%= carro.modelo %>"
        required
      /><br />
      Ano:
      <input type="number" name="Ano" value="<%= carro.ano %>" required /><br />
      Quantidade disponível:
      <input
        type="number"
        name="Qtde_disponivel"
        value="<%= carro.qtde_disponivel %>"
        required
      /><br />
      <button type="submit">Atualizar</button>
    </form>

    <form
      method="POST"
      action="/remover_carro/<%= carro._id %>"
      style="margin-top: 10px"
    >
      <button type="submit" style="background-color: red; color: white">
        Remover Carro
      </button>
    </form>

    <br />
    <a href="ListaCarro.html">Voltar para Lista</a>
  </body>
</html>